<nav class="bg-blue-700 p-4 relative">
  <div class="container mx-auto flex items-center justify-between">
    <div>
      <%= render partial: "shared/burger" %>
    </div>

    <div> 
      <h2>Groups</h2>
    </div>

    <div>
      <img src="https://www.pngall.com/wp-content/uploads/13/Search-Button-White-PNG.png" alt="search"  width="50" height="80">
    </div>
  </div>
</nav>

<div>
  <% @groups.each do |group| %>
    <%= link_to group do %>
      <div class="flex flex-row m-5">
        <img src=<%=group.icon%> class="ml-4 p-1 basis-1/4 border-2 rounded border-black">
        <p class="ml-4 p-4 basis-1/2">
          <%= group.name %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New group", new_group_path%>
