<%= render partial: "shared/navbar", locals: { title: "Categories", show_burger: true } %>

<div>
  <% @groups.each do |group| %>
    <%= link_to group_purchases_path(group) do %>
      <div class="flex flex-row m-2 border-2 border-grey bg-white p-2">
        <img src=<%=group.icon%> class="ml-4 p-1 basis-1/4 border-2 rounded border-black">
        <div class="ml-4 p-4 basis-1/2">
          <p><%= group.name %></p>
          <p><%= group.created_at.strftime("%d/%m/%Y") %></p>
        </div>
        <div class="ml-4 p-4 basis-1/2">
          <p><%= group.total %>$</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New category", new_group_path%>

<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "logout" %>
