<%= render partial: "shared/navbar", locals: { title: "Categories", show_burger: true } %>

<div>
  <% @groups.each do |group| %>
    <%= link_to group_purchases_path(group) do %>
      <div class="flex flex-row m-5 border-2 border-grey">
        <img src=<%=group.icon%> class="ml-4 p-1 basis-1/4 border-2 rounded border-black">
        <p class="ml-4 p-4 basis-1/2">
          <%= group.name %>
        </p>
        <p class="ml-4 p-4 basis-1/2">
          <%= group.total %> $
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New category", new_group_path%>

<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "logout" %>
