<div class="form">
  <%= form_with(model: @group, url: groups_path, local: true, method: :post) do |f| %>  
    <div>
      <%= f.label :name %> <br />
      <%= f.text_field :name, autocomplete: "off" %>
    </div>

    <div>
      <%= f.label :icon %> <br />
      <%= f.text_field :icon %>
    </div>

    <div>
      <%= f.submit class: "button" %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Back to groups", groups_path %>
</div>